/* Global */
body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  margin-bottom: 15px;
}

/* Navbar */
.navbar {
  background: white;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1000px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100px;
}

nav a {
  margin-left: 0px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #0b2b4c;
}

/* Hero */
.hero {
  background: #0b2b4c;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.hero-content {
  max-width: 900px;
  margin: auto;
}

.hero h1 {
  font-size: 40px;
}

/* About */
.about {
  padding: 80px 20px;
}

.about-grid {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap:80px;
  align-items: center;
}

/* Vision & Mission */
.vision-mission {
  max-width: 1000px;
  margin: auto;
  padding: 60px 20px 100px;
  display: flex;
  gap: 40px;
}

.vm-box {
  background: #f5f7fa;
  padding: 40px;
  border-radius: 8px;
  flex: 1;
}

/* Technology */
.technology {
  background: #f9fafc;
  padding: 80px 20px;
}

.tech-container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.tech-intro {
  max-width: 700px;
  margin: 20px auto 50px;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.tech-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
}

/* Contact */
.contact {
  padding: 80px 20px;
  text-align: center;
}

.email {
  font-weight: 600;
  color: #0b2b4c;
}

/* Footer */
.footer {
  background: #0b2b4c;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

/* Mobile Responsive */
@media (max-width: 768px) {

  nav a {
    margin-left: 15px;
  }

  .hero h1 {
    font-size: 30px;
  }

  .about-grid,
  .vision-mission,
  .tech-grid {
    grid-template-columns: 1fr;
    flex-direction: column;
  }

}
